@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>My first apllication C# .net </h3>

<p>Curso Udemy: C# e OO, coleções, UML, ASP.NET, Entity Framework, LINQ, Lambda e muito mais.</p>
<p>Com professor Nélio Alves</p>
