@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>Deise Moraes</h3>

<address>
    <a href="https://github.com/deisemoraesf">Github</a><br />
    <a href="https://www.linkedin.com/in/deise-moraes-farias-64741410b">Linkedin</a>
</address>
